/* Variables */

:root {
    --primary: #44c3ff;
    --secondary: #ecf5f8;
    --light: #fff;
    --dark: #0e223c;      
    --font-clr-1: #333333;
    --font-clr-2: #3b3b3b;
    --font-clr-3: #fdfdfd;
    --font-clr-4: #f9fafa;
    --font-clr-5: #7a7a7a;
}

/* General Styles */

@font-face {
    font-family: 'Roboto', sans-serif;
    src: url(./assets/fonts/Roboto/Roboto-Regular.ttf);
}

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    list-style: none;
}
body {
    margin: 0;
    padding: 0;
    color: var(--font-clr-1);
    font-size: 1rem;
    overflow-x: hidden;
}
ul { padding: 0; }
a { color: var(--font-clr-1); }
#welcome-section {
    background: linear-gradient(#ddf2f9, #9ce3fb);
}
#suscription-section {
    background-color: var(--secondary);
}
footer {
    background-color: var(--dark);
    color: var(--font-clr-4);
    padding: 2rem 0;
}
.hidden {
    display: none;
}
.show {
    display: inline;
}
img {
    max-width: 100%;
}
button {
    background-color: var(--primary);
    border: none;
    padding: 1em 2em;
    border-radius: 5px;
    color: var(--light);
    font-weight: 600;
    font-size: 1rem;
}

/* Mobile-first */

header {
    display: grid;
}
header img {
    grid-column: 1/4;
    grid-row: 1/2;
    margin: 1rem;
}
header button {
    grid-column: 4/6;
    grid-row: 1/2;
}
header nav {
    grid-column: 1/6;
    grid-row: 2/3;
}
header nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 40vh;
}

#welcome-section div {
    text-align: center;
    padding: 2rem 1rem;
    color: var(--font-clr-5);
}
#welcome-section div h1 {
    font-size: 10vw;
    color: var(--font-clr-1);
}

#benefits-section {
    display: flex;
    flex-flow: row wrap;
    margin: 2rem 0;
    justify-content: center;
}
#benefits-section div {
    width: 315px;
    text-align: center;
    margin: 0 2rem; 
}
#benefits-section div div {
    background-color: var(--secondary);
    color: var(--primary);
    width: 1.7em;
    height: 1.7em;
    border-radius: 100%;
    font-size: 3rem;
    margin: 2.5rem auto;
    display: grid;
}
#benefits-section div div i {
    grid-row: 2/3;
}
#benefits-section div p {
    color: var(--font-clr-5); 
    font-size: 0.9rem;
    line-height: 1.6rem;
}

#Cursos {
    padding: 2rem 0;
    border-top: 1.3px solid var(--secondary);
    text-align: center;
}
h2 {
    font-size: 8vw;
    margin: 2rem 0;
}
#Cursos > p { color: var(--font-clr-5); margin-bottom: 3.5rem; }
#Cursos p a { color: var(--primary); text-decoration: underline; }

#Cursos > div {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
#Cursos > div > div {
    width: 260px;
    margin: 2rem auto;
    border: solid 1.2px var(--secondary);
    border-radius: 10px;
}
#Cursos div > div .details-container {
    text-align: left;
    margin: 0 1.8rem 1.8rem;
}
#Cursos div > div .details-container > div {
    display: flex;
    align-items: center;
    gap: 0.4rem;
    color: var(--font-clr-5);
}
#Cursos div > div .details-container > div > i { 
    color: var(--primary); 
    width: 20px
}
#Cursos div > div .details-container > div > p {
    margin: 0.35rem;
}
#Cursos div > div .button-container {
    border-top: solid 1.2px var(--secondary);
    padding: 1.15rem;
}
#Cursos div > div .button-container button {
    width: 97%;
    margin: 0;
}

@media (min-width: 400px) {
    #Cursos > div > div {
        width: 320px;
    }
}

#Empresa > .container {
    border-top: 1.3px solid var(--secondary);
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}
#Empresa > div > div {
    margin: 2rem;
    width: 280px;
    display: grid;
}
#Empresa div div > i {
    color: var(--primary);
    margin: 0 1rem;
}
#Empresa div div > p {
    text-align: center;
    line-height: 1.6rem;
    font-size: 1.2rem;
}
#Empresa div div > i:last-of-type {
    text-align: right;
}
#Empresa div div > img {
    margin: 0 auto;
    width: 50%;
    filter: grayscale();
    /* transition: ease-in-out 0.25s; */
}
#Empresa div div > img:hover {
    filter: none;
}
#Empresa div div > .clarin {
    opacity: .6;
}
#Empresa div div > .clarin:hover {
    opacity: 1;
}

#new-diplomatura {
    background-image: url(./assets/diplomatura.PNG);
    padding: 3rem 2rem;
}
#new-diplomatura > p:nth-child(1) {
    color: white;
}
#new-diplomatura > h2:nth-child(2) {
    color: white;
}
#new-diplomatura > p:nth-child(3) span {
    font-weight: 600;
}
#new-diplomatura > button {
    background-color: var(--light);
    color: var(--primary);
    width: 230px;
    margin: 1.5rem 0;
}
#new-diplomatura > button i { margin-left: 2rem; }

#worldwide {
    display: flex;
    flex-flow: row wrap;
}
#worldwide img {
    order: 1;
}
#worldwide > div {
    margin: 2rem;
}
#worldwide > div p {
    color: var(--font-clr-5);
    line-height: 1.45rem;
}
#worldwide > div > div > div {
    text-align: center;
    font-size: 1.15rem;
}
#worldwide > div > div> div > span {
    color: var(--primary);
    font-size: 2.5rem;
}

#sponsors-section {
    margin: 4rem 0;
}
#sponsors-section p,
#sponsors-section h2 {
    margin: 2rem;
    text-align: center;
}
#sponsors-section p {line-height: 25px;}
.slides-container {
    overflow-x: hidden;
}
.slides-items {
    display: flex;
    width: 350%;
    animation-name: slides;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}
.slides-items div {
    width: 50%;
}
.slides-items div > img {
    width: 140px;
    margin: 0 auto;
    display: grid;
}
@keyframes slides {
    0% {transform: translateX(0)}
    20% {transform: translateX(-50vw);}
    40% {transform: translateX(-100vw);}
    60% {transform: translateX(-150vw);}
    80% {transform: translateX(-200vw);}
    100% {transform: translateX(-250vw);}
}

#suscription-section {
    text-align: center;
    padding: 1rem 0 3rem;
}
#suscription-section p {
    color: var(--font-clr-5);
    margin: 2rem 2rem 1rem;
}
#suscription-section input {
    padding: 0.75rem 1rem;
    width: 280px;
    border: none;
    margin-bottom: 2rem;
}

#Contacto .footer-container {padding: 0 2rem;}
#Contacto .footer-container div img {
    margin-bottom: 2rem;
}
#Contacto .footer-container div p {
    color: var(--font-clr-5);
}
#Contacto .footer-container div {
    margin: 3rem 0;
}
#Contacto .footer-container h3 {margin-bottom: 2rem;}
#Contacto .footer-container a {
    color: var(--font-clr-4);
    font-size: 0.9rem;
    display: block;
    margin: 0.5rem 0;
}
#Contacto .footer-container div p {font-size: 0.9rem}
#Contacto .footer-container div p:nth-child(3),
#Contacto .footer-container div p:nth-child(4) {
    color: var(--font-clr-4);
}
#Contacto .footer-container div .icons-container {
    font-size: 1.25rem;
    display: flex;
    gap: 1rem;
    padding-bottom: 2rem;
}
#Contacto .footer-container div .icons-container i:hover {
    color: var(--primary);
}
#Contacto .copyright-container {
    padding: 1.5rem 2rem 0 2rem;
    border-top: 1.2px solid var(--primary);
    color: var(--primary);
    font-size: 0.9rem;
    opacity: 0.6;
}

/* Media Queries */

@media (min-width: 630px) {
    /* :root {
        font-size: 16.5px;
    } */
    #welcome-section div h1 {
        font-size: 10vh;
    }    
    h2 {
        font-size: 6vh;
    }
    button {
        margin-top: 2rem;
    }
    #welcome-section div p {
        margin-left: 2rem;
        margin-right: 2rem;
    }
    #Cursos {margin-bottom: 2rem;}
    #Cursos > div {
        gap: 2rem;
    }
    #Empresa .container {padding: 2rem 0}
    #worldwide > div > div {
        display: flex;
        width: 100%;
        justify-content: space-evenly;
        margin: 2rem 0;
    }
    #sponsors-section > p {
        max-width: 60%;
        margin: 2rem auto;
    }
    #sponsors-section .slides-container {
        margin: 3rem 0;
    }
    .slides-items div > img {
        width: 200px;
        /* margin: 0 auto;
        display: grid; */
    }
    #Contacto .footer-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    #Contacto .footer-container > div {
        width: 280px;
    }
}

@media (min-width: 850px) {
    /* :root {
        font-size: 17px;
    } */
    header img {
        grid-row: 1/3;
    }
    header button {
        visibility: hidden;
    }
    .hidden {
        display: inline;
    }
    header nav {
        grid-row: 1/3;
        grid-column: 4/6;
        margin: auto 0;
    }    
    header nav ul {
        flex-direction: row;
        justify-content: space-evenly;
        height: auto;
    }
    header nav ul li a:hover {
        color: var(--primary);
    }
    #welcome-section img {
        margin: 0 auto;
        display: grid;
        width: 50%;
    }
    #new-diplomatura > button i { margin-left: 0.5rem; }
    #Contacto .footer-container {
        justify-content: space-evenly;
        gap: 2rem;
    }
    #Contacto .footer-container > div {
        width: auto;
        flex: 1;
        margin: 2rem 0 1.5rem;
    }
    #Contacto .copyright-container {
        display: flex;
        justify-content: space-between;
    }

}

@media (min-width: 1100px) {
    /* :root {
        font-size: 17.5px;
    } */
    #welcome-section {
        display: flex;
    }
    #welcome-section div {
        text-align: left;
        margin-left: 4rem;
    }
    #welcome-section div p {
        margin-left: 0;
    }
    #Empresa .container {padding: 3.5rem 0}
    #new-diplomatura {
        height: 80vh;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        display: flex;
        flex-flow: column nowrap;
        align-items: flex-start;
        justify-content: center;
        padding-left: 4rem;
    }
    #worldwide {
        padding: 3rem 0;
    }
    #worldwide img {
        order: 0;
        width: 43%;
    }
    #worldwide > div {
        margin: 0 4rem;
        width: 43%;
    }
    #worldwide > div > div {
        justify-content: space-between;
    }
    #worldwide > div > div> div > span {
        font-size: 2.5rem;
    }    
    #Contacto .footer-container {
        justify-content: space-around;
        gap: 2rem;
    }
}
